.content{
    background-color: black;
   
    padding-left:4.5rem;
    padding-top:.01rem;
    padding-bottom:.01rem;
    
}

.list{
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    display:inline-block;
   background-color: black;
    line-height:4;
    height:60px;
    margin-right:15px;
    padding: 0 15px;
   
    
   
    
   
}
.ul{
    background-color: black;
    float:right;
    position: relative;
    left:-400px;
    height:60px;
    position:relative;
    left:-200px;
    
    
    
}
.list:hover{
    background-color: rgb(99, 99, 99);
}

a{
    text-decoration: none;
    color:white;
}
.submit{
    color:white;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(9, 136, 255);
    padding:17px 25px;
    letter-spacing: .05rem;
    font-size:12px;
    float:left;
    position:relative;
    left:1240px;
    top:-68px;
    border-radius:6px;
    font-weight: bold;
    
}
.clear{
    clear: both;
}

